
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #151b2b !important; /* Force le fond sombre */
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
